<mat-toolbar color="primary">
    <span class="logo">Real Estate Dashboard</span>
    <span class="spacer"></span>
</mat-toolbar>
@if(calculateStatisticsService.hasData()){
<div class="filter-container">
    <app-search-filter (groupByTypeChange)="onGroupByTypeChange($event)"
        (cityChange)="onCityChange($event)"></app-search-filter>
</div>


<div class="dashboard-container">
    @if(this.isBrowser){
    <div class="dashboard-grid">
        <app-line-chart class="line-chart" [labels]="labels" [dataPoints]="dataPoints" [countPoints]="countPoints"
            chartTitle="Timeline Average Prices"></app-line-chart>

        <app-info-labels class="info-labels"></app-info-labels>

        <app-bar-chart class="bar-chart-median" [chartData]="barChartDataMedianPricePerMeter"
            [chartTitle]="'Median price per square meter: '"></app-bar-chart>

        <app-bar-chart class="bar-chart-building-type" [chartData]="barChartDataByBuildingType"
            [chartTitle]="'Number of apartments grouped by:  ' + calculateStatisticsService.groupedBy()"></app-bar-chart>
        <!-- <app-map-view class="map-view"></app-map-view> -->
    </div>
    }
</div>
}@else {
<div class="loading-container">
    <mat-spinner></mat-spinner>
    <span>
        <strong>Note:</strong> First API request may take ~2 minutes as our server wakes up (Render hosting cold start).
        Subsequent requests are instant
    </span>
</div>
}