<mat-toolbar color="primary">
    <span class="logo">Real Estate Dashboard</span>
    <span class="spacer"></span>
</mat-toolbar>
<div class="filter-container">
    <app-search-filter (groupByTypeChange)="onGroupByTypeChange($event)"></app-search-filter>
</div>


<div class="dashboard-container">
    @if(this.isBrowser){
    <div class="dashboard-grid">
        <!-- 
    <app-bar-chart></app-bar-chart>
    <app-scatter-chart></app-scatter-chart>
    <app-pie-chart></app-pie-chart>
    <app-map-view></app-map-view>
    <app-line-chart></app-line-chart> -->
        <!-- <app-grouped-chart></app-grouped-chart> -->
        <app-bar-chart class="bar-chart-median-area" [chartData]="barChartData(realEstateStatisticsKey.MedianArea)"
            [chartTitle]="'Wykres mediana powierzchni'"></app-bar-chart>
        <app-bar-chart class="bar-chart-median" [chartData]="barChartData(realEstateStatisticsKey.MedianPricePerMeter)"
            [chartTitle]="'Wykres mediana ceny za metr'"></app-bar-chart>
        <app-bar-chart class="bar-chart-building-type" [chartData]="barChartDataByBuildingType"
            [chartTitle]="calculateStatisticsService.groupedBy()"></app-bar-chart>
        <app-map-view class="map-view"></app-map-view>
    </div>
    }
</div>