<mat-form-field appearance="outline" class="search-field">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput placeholder="Search address, district, etc." [(ngModel)]="searchText">
</mat-form-field>
<mat-select placeholder="District" [(ngModel)]="district">
    <mat-option value="">Any</mat-option>
    <mat-option value="central">Central</mat-option>
    <mat-option value="north">North</mat-option>
    <mat-option value="south">South</mat-option>
    <mat-option value="east-side">East Side</mat-option>
    <mat-option value="downtown">Downtown</mat-option>
</mat-select>
<mat-select placeholder="Property Type" [(ngModel)]="propertyType">
    <mat-option value="">Any</mat-option>
    <mat-option value="apartment">Apartment</mat-option>
    <mat-option value="house">House</mat-option>
    <mat-option value="studio">Studio</mat-option>
</mat-select>
<mat-select placeholder="Price Range" [(ngModel)]="priceRange">
    <mat-option value="">Any</mat-option>
    <mat-option value="0-100000">$0 - $100k</mat-option>
    <mat-option value="100000-300000">$100k - $300k</mat-option>
    <mat-option value="300000-500000">$300k - $500k</mat-option>
    <mat-option value="500000+">$500k+</mat-option>
</mat-select>